.container {
    position: relative;
    margin: 0 auto;
    width: 720px;
    height: 560px;
}

video {
    position: absolute;
    top: 0;
    left: 0;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
}